
alias ll="ls -alh"

# Search Through Terminal History
alias hs='history | grep'

# Show my ip address and speed test
alias myip="curl http://ipecho.net/plain; echo"
alias localip="ipconfig getifaddr en0"
alias speedtest="curl -s https://raw.githubusercontent.com/sivel/speedtest-cli/master/speedtest.py | python -"

# Recursively delete `.DS_Store` files
alias cleanup_dsstore="find . -name '*.DS_Store' -type f -ls -delete"

# Empty the Trash on all mounted volumes and the main HDD.
alias emptytrash=" \
    sudo rm -rfv /Volumes/*/.Trashes; \
    rm -rfv ~/.Trash/*; \
"
alias pubkey="more ~/.ssh/id_rsa.pub | pbcopy | echo '=> Public key copied to pasteboard.'"
#alias c='pbcopy'
#alias p='pbpaste'

# Get week number
alias week='date +%V'

# Get macOS Software Updates, and update Homebrew, npm, and their installed packages
alias update_brew='brew update; brew upgrade; brew cleanup; brew doctor'
alias update_npm='npm -g cache clean; npm install npm -g; npm update -g'
alisa update_sys='sudo softwareupdate -i -a'
alias update_all='update_sys; update_brew; update_npm'

# Show/hide hidden files in Finder
alias show_hf="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
alias hide_hf="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"

# Hide/show all desktop icons (useful when presenting)
alias hidedesktop="defaults write com.apple.finder CreateDesktop -bool false && killall Finder"
alias showdesktop="defaults write com.apple.finder CreateDesktop -bool true && killall Finder"

# xcode
alias ios="open /Applications/Xcode.app/Contents/Developer/Applications/Simulator.app"
alias watchos="open /Applications/Xcode.app/Contents/Developer/Applications/Simulator\ \(Watch\).app"